.section-elementor_left {
    margin: auto 0;
}

.elementor-item {
    margin: 0 70px;
    width: 100px;
}

.elementor-item h3 a {
    color: #002c8f;
    text-decoration: none;
    line-height: 24px;
    font-size: 2.4rem;
    transition: 0.4s;
}

.elementor-item h3 a:hover {
    color: #0056b3;
}

.elementor-slider {
    display: flex;
    justify-content: space-between;
}

.section-elementor-right {
    margin: auto 0;
}

.section-elementor-title h3 {
    font-size: 5rem;
    width: 295px;
    line-height: 50px;
    color: #002c8f;
}

.section-elementor {
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
    height: 250px;
}

a.play-link {
    font-size: 5rem;
    color: var(--white-color);
    margin-left: 30px;
    display: inline-block;
}

button.btn_sinner {
    border: none;
    padding: 20px 0;
    background: #21b6ff;
    margin-top: -9px;
    transition: 0.4s;
}

button.btn_sinner:hover {
    background: #002c8f;
}

button.btn_sinner a {
    color: var(--white-color);
    text-decoration: none;
    font-size: 2rem;
    padding: 20px;
}

button.btn_sinner a i {
    margin-left: 5px;
}

.content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 170px;
    width: 500px;
}

.content h1 {
    font-size: 2.4rem;
    color: var(--white-color);
}

.content h2 {
    font-size: 6rem;
    line-height: 70px;
    color: var(--white-color);
}

.content h1 span {
    color: #21b6ff;
}

.slider {
    position: relative;
}

.slider img {
    width: 100%;
}

.section-wrap {
    margin-top: 100px;
}

button.btn-header>a {
    color: var(--white-color);
    text-decoration: none;
    font-size: 1.5rem;
}

button.btn-header {
    background-color: #21b6ff;
    border: none;
    border-radius: 5px;
    padding: 15px 40px;
    margin-left: 30px;
    transition: 0.4s;
    cursor: pointer;
}

button.btn-header:hover {
    background: #002c8f;
}

li.menu-item {
    margin: 0px 8px;
}

li.menu-item:hover a {
    color: #21b6ff;
}

li.menu-item>a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: bold;
    transition: 0.4s;
    padding: 10px;
}

ul.menu-list {
    display: flex;
    list-style: none;
}

nav.menu {
    display: flex;
}

.header-menu {
    display: inline-flex;
    align-items: center;
}

.header-logo {
    display: flex;
    align-items: center;
}

a.logo-link {
    display: block;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    height: 100px;
}

ul.top-bar_social-list>li>a>i {
    color: var(--white-color);
    font-size: 1.5rem;
}

ul.top-bar_social-list>li {
    margin-right: 10px;
}

ul.top-bar_social-list {
    display: flex;
    list-style: none;
    height: 100%;
    margin: 0;
    align-items: center;
}

header.header {
    background-color: #002c8f;
    height: 50px;
}

.top-bar_address>li {
    margin: 0 10px;
    font-size: 1.5rem;
}

.top-bar_address>li i {
    margin-right: 6px;
}

.top-bar_address>li>a {
    color: var(--white-color);
    text-decoration: none;
}

ul.top-bar_address {
    display: flex;
    list-style: none;
    color: var(--white-color);
    height: 100%;
    align-items: center;
    margin: auto;
    padding: 0;
}

.header-top {
    display: flex;
    justify-content: space-between;
    height: 100%;
}